/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
  color: blue; 
}

.jumbotron{
  background-image: url("../images/background.jpg");
  	-moz-background-size: cover;
    background-size: 100%;
  	background-repeat: no-repeat;
}
